<body>
    <div class="background-wrapper">

        <div class="entire_content">

            <h2>Welcome to CSE Motors!</h2>
              
            
            <div class="dmc_delorean">
                <p class="dmc_heading">DMC Delorean</p>
                <p>3 Cup Holders</p>
                <p>Superman Doors</p>
                <p>Fuzzy dice</p>
                <div class="own_today">
                    <p>Own Today</p>
                </div>
            </div>


            <div class="image-container">
                <img src="/images/vehicles/delorean.jpg" alt="Delorean Car">
            </div>
            <div class="review_upgrade"> <!-- Will use this div for grid to position the Reviews and Upgrades-->
                <div class="delorean_reviews">
                    <h3>DMC Delorean Reviews</h3>
                    <ul>
                        <li>"So fast it's almost like travelling in time." (4/5)</li>
                        <li>"Coolest ride on the road." (4/5)</li>
                        <li>"I'm feeling McFlyi." (5/5)</li>
                        <li>"The most futuristic ride of our day." (4.5/5)</li>
                        <li>"80's livin and I love it!." (5/5)</li>
                    </ul>
                </div>

                <div> <!--This div houses all the Delorean upgrades images and links-->
                    <h3>Delorean Upgrades</h3>
                    <div class="upgrade_images">

                        <div class="flux_and_link"> <!--Houses the flux image and link -->
                            <div class="flux">
                                <img src="images/upgrades/flux-cap.png" alt="flux capacitor">
                            </div>
                            <div class="span-flux">
                                <a href="#"> Flux Capacitor</a>
                            </div>
                        </div> <!--End - Houses the flux image and link -->


                        <div class="flame_and_link"> <!--Houses the flame image and link -->
                            <div class="flame">
                                <img src="images/upgrades/flame.jpg" alt="flame decals">
                            </div>
                            <div class="span-flame">
                                <a href="#">Flame Decals</a>
                            </div>
                        </div> <!--End - Houses the flame image and link -->


                        <div class="bumper_and_link"> <!--Houses the bumper image and link -->
                            <div class="bumper">
                                <img src="images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
                            </div>
                            <div class="span-bumper">
                                <a href="#">Bumper Stickers</a>
                            </div>
                        </div><!--End - Houses the Bumper image and link -->




                        <div class="hub_and_link"> <!-- Houses the hub image and link -->
                            <div class="hub">
                                <img src="images/upgrades/hub-cap.jpg" alt="hub caps">
                            </div>
                            <div class="span-hub">
                                <a href="#">Hub Caps</a>
                            </div>
                        </div> <!--End - Houses the hub image and link -->
                    </div>
                </div>
            </div>


        </div>

    </div>
</body>

