/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


/******* SMALL VIEW ***************/

/******HEADER*********/

#top-header {
  display: flex;
  justify-content: space-between;
 
}
#top-header a {
  text-decoration: none;
}
.siteName a{
  font-size: 32px;
  color: #D32727;
  
}
/******NAVIGATION*********/
nav a{
  background-color: black;
  margin: 7px;
  color: #fff;
  text-decoration: none;

}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center; 
  color: #fff;
  background-color: black;

  
}
nav ul li {
  list-style: none;
  color: white;
font-size: 16px;
  margin: 15px 25px 15px 0px;
  padding: 0;

}
/*For the notice message on the Register page view*/
.notice {
  color: #D32727;
  text-align: center;
  list-style: none;
 font-style: italic;
}

/*for the styling of the add vehicle on the Add Classification page*/

/******BODY*********/
.dmc_delorean {
  background-color: azure;
  width: 40%;
  
  position: relative;
  bottom: -90px;
}
.dmc_delorean  p {
  color: #22426D;
}
.own_today {
  background-color: black;
  width: 70%;
  padding: 1px;
}
.own_today p {
  color: #fff;
  font-weight: bold;
}
.dmc_heading {
  font-size: 20px;
  font-weight: bolder;
}

/*h2 {*/
/*  margin-bottom: -80px;*/
/*}*/
.image-container{
  width: 70%;
  margin-left: 60px;
}
.image-container img {
  width: 100%;
}
.flux, .bumper, .flame, .hub{
  background-color: #D32727;
  width: 90%;
  border: 1px solid black;
  padding: 10px;
}

.upgrade_images {
  grid-template-columns: 1fr 1fr;
  display: grid;
  margin: 5px 0px 30px 15px;
}

.bumper img {
  margin: 0px 0px 9px 30px;
}
.flux img {
  margin: 0px 0px 0px 30px;
}
.flame img {
  margin: 0px 0px 0px 30px;
}
.hub img {
  margin: 0px 0px 0px 30px;
}
.span-bumper, .span-hub, .span-flame, .span-flux{
  text-align: center;
}
.flux_and_link, .flame_and_link {
  margin-bottom: 25px;
}

#inv-display{
display: grid;
grid-template-columns: 1fr;
margin: 30px 0px 0px 60px;
}
#inv-display li {
  list-style: none;
}
#inv-display img {
  margin-top: 40px;

}
h1 {
  text-align: center;
}

.namePrice {
  margin: 50px 0px 100px 0px;
}
h2 a{
  text-decoration: none;
  
}
.flex-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
.copyright {
  text-align: center;
  margin-top: 150px;
}

#flash-message {
  text-align: center;
  color: red;
  text-decoration: none;
  list-style: none;
}

/***********************/
/*ACCOUNT - LOGIN STYLING*/
/***********************/
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin: 0;
  padding: 0;

}
.show-password {
  margin-bottom: 10px;
  text-decoration: none;
}

.password-instruction {
  font-style: italic;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 50px 50px 100px 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  border: 2px solid #003E80
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form input, form select, form textarea {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ddd;
}

.login-container form label {
  margin-top: 2px;
  padding: 2px;
  text-align: left;
}

.login-container form button {
  padding: 10px 20px;
  background-color: #003E80;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.login-container form button:hover {
  background-color: #0056b3;
}

.register-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #003E80;
  text-decoration: none;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

}

@media (max-width: 600px) {
  .login-container {
      width: 90%;
  }
}

/*Modifications*/

form input:not(:placeholder-shown) {
  border:solid #ffdddd;
  background: #ffdddd;
}

form input:valid, textarea:valid {
  border:solid #ddffdd;
  background:#ddffdd;
}

.form-instruction {
  font-style: italic;
  opacity: 0.5;
}

.form-error-msg {
  font-style: oblique;
  color: #D32727;
}



/******* MEDIUM VIEW ***************/
@media only screen and (min-width: 35rem) {
  .dmc_delorean  p {
   font-size: 28px;
  }
  .delorean_reviews ul li {
font-size: 28px;
  }
  .bumper img, .flame img, .flux img , .hub img {
    margin: 0px 0px 0px 120px;
  }
  .flex-container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.error-message {
  text-align: center;
}

/******* LARGE VIEW ***************/
@media only screen and (min-width: 60rem) {
  .review_upgrade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "upgrades reviews"; /* Swapped the names */
  }
  .delorean_reviews {
    grid-area: reviews;
    margin-left: 300px;
  }
 h3 {
  margin-left: 25px;
 }
  .upgrade_images {
    grid-area: upgrades;
  
  }
  .image-container {
    width: 40%;
  }
  .dmc_delorean {
    width: 25%;
  }
  .bumper img, .flame img, .flux img , .hub img {
    margin: 0px 0px 0px 90px;
  }
  .image-container img {
    margin-top: -120px;
    margin-left: 250px;
  }
  .dmc_delorean {
    margin-left: 50px;
    width: 20%;
  }
  .entire_content, #top-header, nav, footer {
    max-width: 1200px;
    margin:0 auto;
    background-color: #fff;
    /* border: 2px solid blue; */
/*     
  z-index: 1000 !important ;  */}

   .background-wrapper{
    background-image: url('/images/site/small_check.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    /* max-width: 1320px; */
  }

  nav {
    background-color: black;
    /* margin: 7px; */
    
  }
#tools a {
  margin: 0px 50px 0px 0px;
}

#inv-display{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0px 0px 60px;
 
  }
  hr{
    display: none;
  }
}
