<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<p><%- messages() %></p>
<% if (errors) { %>
    <% errors.array().forEach(error => { %>
        <p class="form-error-msg"><%= error.msg %></p>
    <%  }) %>
<% } %>
<div class="main-container">
    <div class="login-container">
        <form action="/inv/add-classification" method="post">

            <label for="cname">Classification name</label>
           <input id="cname" type="text" name="name" placeholder="Enter Classification name" value="<%= locals.name %>" pattern="[a-zA-Z]{3,25}$" required>
           <p class="form-instruction">Classification name must contain only letters</p>
           <button type="submit">Submit</button>
       </form>
   </div>
</div>

       
          
   
